$burger-color: pink;
$menu-background: linear-gradient(to left bottom, #7fdef3, #cb83f0);
$card-text-color: #2D303A;
$main-card-background: linear-gradient(180deg, #7fdef3, #cb83f0 40%, #f1f1f1 0, #f1f1f1);
$main-card-background-play: linear-gradient(180deg, #96f193, #FFD56F 40%, #f1f1f1 0, #f1f1f1);
$card-background-train: linear-gradient(180deg, #7fdef3, #cb83f0);
$card-background-play: linear-gradient(180deg, #96f193, #FFD56F);

