$burger-color: pink;
$menu-background: linear-gradient(to left bottom, #12c2e9, #c471ed);
$card-text-color: #2D303A;
$main-card-background: linear-gradient(180deg, #12c2e9, #c471ed 40%, #f1f1f1 0, #f1f1f1);
$card-background-train: linear-gradient(180deg, #12c2e9, #c471ed);
$card-background-play: linear-gradient(180deg, #bada55, #FFD56F);

