.container-fluid {
    padding: 110px 20px 0 50px;
}

.row {
    margin: 0 20px 0 0;
    justify-content: center;
}

.main-card {
   @include card-style;
    background: $main-card-background;
    cursor: pointer;
    
    

    &:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,.4);
        text-decoration: none;
        color: $card-text-color;
    }
}

.main-card img {
    width: 160px;
    height: 160px;
    border-radius: 40%;
    border: 7px solid #fff;
    object-fit: cover;
    margin: 20px auto;
}