body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.menu {
  display: flex;
  height: 100vh;
  width: 30vw;
  background: $menu-background;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  position: absolute;
  z-index: 1;
  transition: all 1s;
  overflow: hidden;

  &.active {  
    transform: translateX(0%);
  }
  
  & ul {
     list-style-type: none;
     padding: 0;
     
        & li {    
        margin: 14px;
        font-size: 24px;
        font-weight: 200;
        position: relative;
        z-index: 2;
        height: 28px;

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }    

        @media screen and (max-width: 640px) {
            font-size: 14px;
            margin: 10px;
        }   

        @media screen and (max-width: 530px) {
            font-size: 0px;
            margin: 10px;   
            height: 35px;         
        }   
    }
  }

  & .icon {
    width: 30px;
    height: 30px;
    padding: 0 5px 5px;
    opacity: 0.3;

     @media screen and (max-width: 530px) {
      width: 40px;
      height: 40px;
      margin: 5px;
      padding: 0;
     }
  }  
}

.link a:link,
.link a:visited {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.link a:hover, a.active {
    box-shadow: 0 0 10px rgba(196, 241, 241, 0.8);
    cursor: pointer;
    background-color: rgba(196, 241, 241, 0.8);
    animation-name: bounce;
    animation-duration: 0.5s;
    border-radius: 10px;
    transition: all 0.3s;

    & .icon {
        width: 31px;
        height: 31px;
        padding: 0 4px 4px;;
        opacity: 0.4;
        transition: all 0.3s;

        @media screen and (max-width: 530px) {
          width: 40px;
          height: 40px;
          margin: 5px;
        }
    }

    
}

.line {
  height: 4px;
  width: 40px;
  top: 0;
  border-radius: 5px;
  background-color: $burger-color;
  transition: 1s;
  position: absolute; 
}

.two {
  top: 12px;
}

.three {
  top: 24px;
}

.hamburger {
  margin: 50px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  height: 30px;
  width: 40px;
  z-index: 9999;
}
